h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
    margin-top: 0px;
    text-align: center;
}

h3 {
    font-size: 24px;
}

p {
    margin-top: 0px;
}

select {
    max-width: 224px;
    height: 50px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 54px;
    font-size: 16px;
}

.form-text {
    font-size: 16px;
    font-family: "Proixma Nova Alt", sans-serif;
    color: $Midnight-Green;
}